body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2F2F2F;
    transition: all 1s ease-in-out;
}

p {
    margin: 0 0;
}

h1 {
    font-size: 50px;
    color: white;
}

.deleteElem {
    font-size: 15px;
    color: #dc3545

}
.circle-icon {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    border: 1.3px solid #dc3545;
    width: 20px;
    height: 20px;
    right: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out;
}
.circle-icon:hover {
    background-color: #dc3545;
}

.circle-icon:hover .deleteElem{
    color: #CCCCCC;
}
.word-title:hover .circle-icon {
    display: flex;
}
.search-box {
    font-size: 18px;
    padding: 10px;
    border: 2px solid #ddd;
    margin-bottom: 10px;
    margin-top: 50px;
    width: 200px;
}

section {
    width: 800px;
    display: flex;
}

aside {
    width: 230px;
}

nav {
    display: flex;
    background-color: #CCCCCC;
    flex-direction: column;
    text-align: center;
}

.progresBar {
    border: 1.5px solid black;
    padding: .1px 0px;
    border-radius: 20px; 
    margin: 5px  10px;
}

.progBar {
    width: 0;
    height: 15px;
    background-color: #28a745;
    border-radius: 8px;
    transition: width 1.5s;
}

 span {
    font-size: 12.5px;
    font-weight: 600;
    cursor: text;
    padding: 5px 0;
}

.list-of-words {
    box-sizing: border-box;
    background-color: #f1f1f1;
    width: 230px;
    height: 348px; 
    overflow: auto;
}

.word-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5px;
}

.word-title:hover p {
    background-color: #a2a5a2;	
}

.word-title:nth-of-type(1) {
    margin-top: 5px;
}

.words {
    font-size: 20px;
    padding: 11.8px 11.6px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(215, 215, 215);
}

.blank-circle,
.filled-circle {
    color:#28a745;
    border-radius: 5px;
    padding: 13px 13px;
    margin-right: 1px;
    font-size: 20px;
    background-color: rgb(215, 215, 215);
}

.word-content {
    background-color: #fff;
    flex-direction: column;
    border: 1px solid #ccc;
    height: 449.39px;
    padding: 0 30px;
    width: 700px;    
    /* display: none; */
}
.word-content p {
    margin: 30px 0;
}
.input-name {
    width: 150px;
    height: 25px;;
}

#a1 {
   display: flex; 
}
.add-element-circle {
    font-size: 25px;
    color: greenyellow;
    margin: 15px 10px;;
    background-color: transparent;
}
.add-btn {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
.add-btn-text {
    font-size: 20px;
    padding: 8px 8px;
    width: 100%;
    border: 2px solid black
}