body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 50px;
}
section {
    width: 50%;
}

.list-of-words {
    box-sizing: border-box;
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 449.8px; 
    overflow: auto;
}
.far {
    color: #888888;
    margin-right: 10px;
}
.fas {
    color: #888888;
    margin-right: 10px;
}

.progresBar {
    border: 1px solid black;
    border-radius: 20px; 
    margin: 10px  10px;
}


.progBar {
    width: 10px;
    height: 15px;
    background-color: #00F85C;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: width 1.5s;
}
.progresBar span {
    position: absolute;
    margin-left: 60px;
    font-size: 12.5px;
    font-weight: 600;
    cursor: text;
    margin-top: 5px; 
}
.list-of-words p {
    display: block;
    border-bottom: 1px solid black;
    color: black;
    padding: 16px 16px;
    text-align: left;
    cursor: pointer;
    margin: 0 0;
    font-size: 18px;
}
.list-of-words p:hover{
    background-color: #ddd
}


.word-content {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    height: 449.39px;    
    display: none;
}
#a1 {
   display: block; 
}

.search-box {
    font-size: 18px;
    padding: 10px;
    border: 2px solid #ddd;
    margin-bottom: 10px;
    width: 200px;
}