body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2f2f2f;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

p {
  margin: 0 0;
}

h1 {
  font-size: 50px;
  color: white;
}

.deleteElem {
  font-size: 15px;
  color: #dc3545;
}

.circle-icon {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border-radius: 50%;
  border: 1.3px solid #dc3545;
  width: 20px;
  height: 20px;
  right: 5px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.circle-icon:hover {
  background-color: #dc3545;
}

.circle-icon:hover .deleteElem {
  color: #cccccc;
}

.navigation-word:hover .circle-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-box {
  font-size: 18px;
  padding: 10px;
  border: 2px solid #ddd;
  margin-bottom: 10px;
  margin-top: 50px;
  width: 250px;
}

section {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  width: 230px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #cccccc;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.progresBar {
  border: 1.5px solid black;
  padding: 0.1px 0px;
  border-radius: 20px;
  margin: 5px 10px;
}

.progBar {
  width: 0;
  height: 15px;
  background-color: #28a745;
  border-radius: 8px;
  -webkit-transition: width 1.5s;
  transition: width 1.5s;
}

span {
  font-size: 12.5px;
  font-weight: 600;
  cursor: text;
  padding: 5px 0;
}

.list-of-words {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f1f1f1;
  width: 230px;
  height: 348px;
  overflow: auto;
}

.navigation-word {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5px;
}

.navigation-word:hover p {
  background-color: #a2a5a2;
}

.navigation-word:nth-of-type(1) {
  margin-top: 5px;
}

.words {
  font-size: 20px;
  padding: 11.8px 11.6px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  background-color: #d7d7d7;
}

.blank-circle,
.filled-circle {
  color: #28a745;
  border-radius: 5px;
  padding: 13px 13px;
  margin-right: 1px;
  font-size: 20px;
  background-color: #d7d7d7;
}

.word-content {
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ccc;
  height: 449.39px;
  padding: 0 30px;
  width: 700px;
  overflow: auto;
  position: relative;
}

.word-content p {
  margin: 30px 0;
}

.input-name {
  width: 160px;
  height: 30px;
  border-radius: 3px;
  padding: 0 3px;
  font-size: 16px;
}

#a1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circle-icon-add-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 7px 7px;
  color: #28a745;
  padding: 14px 14px;
  border-radius: 50%;
  font-size: 20px;
  border: 2px solid #28a745;
}

.circle-icon-add-element:hover {
  background-color: #28a745;
}

.circle-icon-add-element:hover i {
  color: white;
}

.circle-icon-add-element i {
  position: absolute;
}

.add-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6px;
}

.add-btn-text {
  font-size: 20px;
  padding: 8px 8px;
  width: 100%;
  border: 2px solid black;
}

.examples-container {
  margin: 20px 0;
  width: 500px;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid gray;
}

.key-word-header {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-example-word {
  border-top: 1px solid grey;
  width: 100%;
  height: 169.4px;
  text-align: center;
  overflow: hidden;
}

.first-example-word p {
  margin: 15px 0;
}

.more-examples {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  margin-left: -1px;
  border: 1px solid grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
}

.word-content-container-div {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */